<%= form_for(@genre) do |f| %>



   <table>
	 <tbody>
		 <tr>
		 	<td class="genre">
		 		<h5>
		 		    <strong>ジャンル名</strong>
		 		</h5>
		 	</td>
			<td>
				<%= f.text_field :genre_name, class: "genre_name", :size => '75' %>
			</td>
			<td>
				<%= f.submit '登録', class: "btn btn-warning" %>
			</td>
		 </tr>
	 </tbody>
   </table>
 <% end %>
