<div class='container'>
    <div class='row'>
      <div class='col-xs-9 col-xs-offset-3'>

<div class="body">
    <div calss="concept">
        <h2 class="title">Concept</h2>
        <p>圧縮されていない綺麗な音質を知って欲しい。<br>そんな想いからプレーヤーとCDを全国の方にお届けするための通販サイトです。</p>
    </div>

    <div class="howto">
        <h2 class="title">How to Buy ? </h2>
        <p>1.ログイン、新規会員登録</p>
        <p>2.好きな商品をカートに追加</p>
        <p>3.お気に入り機能で買い忘れ防止</p>
    </div>

    <div class="howto1">
        <h4>1.ログイン、新規会員登録</h4>
        <div class="img1"></div>
    </div>

    <div class="howto2">
        <h4>2.好きな商品をカートに追加</h4>
        <div class="img2"></div>
    </div>


    <div class="howto3">
        <h4>3.お気に入り機能で買い忘れ防止</h4>
        <div class="img3"></div>
    </div>

</div>

    </div>
  </div>
</div>