// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*TOPページ左側のボタン*/
.container1 {
  font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #000;
}

.btn-box {
  display: inline-block;
  width: 200px;
  text-align: center;
  font-size: 16px;
  color: #9ec34b;
  text-decoration: none;
  font-weight: bold;
  padding: 12px 24px;
  position: relative;
  border: 2px solid #9ec34b;
  transition: .4s;
}

.btn-box:hover {
  border: 2px solid transparent;
  color: #FFF;
}

.btn-box:before, .btn-box:after {
  width: 100%;
  height: 100%;
  z-index: 3;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  transform: scale(0);
  transition: .2s;
}

.btn-box:before {
  border-bottom: 2px solid #FFF;
  border-left: 2px solid #FFF;
  transform-origin: 100% 0%;
}

.btn-box:after {
  border-top: 2px solid #FFF;
  border-right: 2px solid #FFF;
  transform-origin: 0% 100%;
}

.btn-box:hover:after,
.btn-box:hover:before {
  transform: scale(1);
}

.col-md-3{
  margin-left: 35px;
}


/*===============================CD===========================================*/

#circle {
  width: 1050px;
  height: 1050px;
  border: 1px solid #333;
  border-radius: 50%;
  position: relative;
  top: -650px;
  right: -60px;
  float: right;
  z-index: -10;
  border-color: #c0f5fe;
  border-width: medium;
}

#circle1 {
  width: 240px;
  height: 240px;
  border: 1px solid #333;
  border-radius: 50%;
  position: relative;
  float: right;
  margin-right: 342px;
  margin-top: -1275px;
  border-color: #c0f5fe;
  border-width: medium;
  z-index: -10;
}


#circle2 {
  width: 90px;
  height: 90px;
  border: 1px solid #333;
  border-radius: 50%;
  position: relative;
  float: right;
  margin-right: 75px;
  margin-top: 75px;
  border-color: #c0f5fe;
  border-width: medium;
}

/*店名の文字*/

#content1 {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 25%;
    top: 1%;
    transform-origin: center 98%;
    float: right;
    color: #9ec34b;
    font-size: 46px;
    animation: rotate1 10s linear infinite;
}

@keyframes rotate1 {
  0% {
   transform: rotate(0deg);
  }
    100% {
    transform: rotate(360deg);
  }
}

/*============================================================================*/








/*商品説明*/

.player {
	margin-bottom: 15px;
	font-size: 60px;
	font-weight: bold;
}

.player1{
	font-size: 20px;
}



.music{
	margin-bottom: 15px;
	font-size: 60px;
	font-weight: bold;
}

.music1{
	font-size: 20px;
}

h4 {
    padding: 15px;
}

.main {
	width: 100%;
	margin: 0 auto;
}

.items {
  margin-top: 30px;
	width: 30%;
	float: left;
	text-align: center;
}

// .clearfix::after{
// 	content: "";
// 	display: block;
// 	clear: both;
// }
//
.top-container {
  position: relative;
  height: 300px;
}

.top-content {
  position: absolute;
  top: 50%;
  -webkit-transform : translateY(-50%);
  transform : translateY(-50%);
}


.songs {
	border: none;
}

.item-align {
  text-align: left;
  border: none;
}

.item-align:nth-child(2n+1) {
  text-align: right;
}

.table-border {
  text-align: left;
  border: none;
}
